html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    opacity: 1;
    transform: rotateY(180deg);
    transition: opacity 1s linear, transform 0.4s linear;
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.hide {
    opacity: 0;
    transition: opacity 1s linear;
}

.deck .card.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.deck .card.rotate {
    transform: rotateY(0);
    transition: transform 0.4s linear;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}


/* spinner */

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    opacity: 0;
    transition: opacity 0.25s linear;
}

.spinner.show {
    opacity: 1;
    transition: opacity 0.25s linear;
}

.spinner div:not(.text) {
    display: flex;
    margin-right: 26px;
}

.spinner div.text {
    text-align: center;
    color: #fff;
    font-size: 2vw;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.spinner div:not(.text)::before,
.spinner div:not(.text)::after {
    display: block;
    content: "";
    background-color: #5380d4;
    border-radius: 15px;
    height: 15px;
    width: 15px;
    transform: translateX(-20px);
}

.spinner div.first::before {
    animation: switchdot 1s linear infinite;
}

.spinner div.first::after {
    transform: translateX(20px);
}

.spinner div.second::before {
    animation: switchdot 1s linear infinite -.5s;
}

.spinner div.second::after {
    transform: translateX(20px);
}

.first {
    animation: turn1 1s ease-in-out infinite;
}

.second {
    transform: rotate(180deg);
    animation: turn2 1s ease-in-out infinite;
}

@keyframes turn1 {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

@keyframes turn2 {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(-180deg)
    }
}

@keyframes switchdot {
    0% {
        background-color: #5380d4
    }
    52% {
        background-color: #5380d4
    }
    53% {
        background-color: transparent
    }
    100% {
        background-color: transparent
    }
}